
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cine Altiro</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    
    <script src="/static/js/ie8-responsive-file-warning.js"></script>
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Cine Altiro</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class= "container">
        <div class = "page-header">
          <h1> {{cine.nombre}} </h1>
        </div>
        <div class = "row">
          <div class ="col-md-6">
            <div class ="panel panel-default">
              <div class = "panel-heading">                    
                  <h4 class = "panel-tittle"> Detalles</h4>
              </div> 
              <table class = "table table-bordered table-striped">
                <tbody>
                  <tr>
                    <td><strong>Dirrección:</strong> {{cine.direccion}} </td>
                  </tr>
                  <tr>
                    <td><strong>Página web:</strong> <a href="{{cine.link}}"> {{cine.nombre}}</a> </td>
                  </tr>
                  <tr>
                    <td><strong>Precio:</strong> </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
 

<!--             <li><p>{{cine.direccion}}</p></li>
            <li><p>{{cine.link}}</p></li>
            <li><p>{{cine.precio}}</p></li> -->
            <br>
            <br>
            <div class = "container">
              <div class = "jumbotron "style ="background-color:rgb(231, 223, 223);">
                  <div class = "row">
                    {%for elemento in pelis%}
                        {%for item in elemento.cines.all%}
                          {%ifequal item.nombre cine.nombre %}
                          <div class="col-md-3">
                            <a href ="/pelicula/{{elemento.id}}"  class = "thumbnail">
                              <img src="{{elemento.imagen.url}}"/>  
                            </a>
                          </div>
                          {%endifequal%}
                      {%endfor%}            
                    {%endfor%}  
                  </div>        
              </div>
            </div>

    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/jsie10-viewport-bug-workaround.js"></script>
  </body>
</html>
