
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cartelera Cine</title>
    <style>
    #map-canvas {
        height: 250px;
    }
    </style>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">

     <!-- FontAwesome -->

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    
    <script src="/static/js/ie8-responsive-file-warning.js"></script>
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>


  </head>

  <body>

 
      <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/home/"><img src="/media/imagenes/logos/logocinealtiro.jpg"></a>     
        
            </div>
            {% if user.is_authenticated %}
              <div id = "navbar1" class="navbar-collapse collapse">
                  <!-- IZQUERDA -->
                  <ul class="nav navbar-nav">
                      <li><a href="/cines"><i>Cines</i></a></li>
                      <li><a href="/peliculas"><i>Cartelera</i></a></li>
                      <li class="dropdown">
                  </ul>
                  <!-- DERECHA -->
                  <ul class="nav navbar-nav navbar-right">
                  <li>  <a href="/perfil"><strong><i>Bienvenido {{user.username|capfirst}}</strong> </i></a></li>        
                  <li>  <a href="/accounts/logout"><i>Salir</i></a></li>
                  
                </ul>
              </div><!--/.nav-collapse -->

            
            {% else %}
            <div id = "navbar1" class="navbar-collapse collapse">
              <!-- IZQUERDA -->
              <ul class="nav navbar-nav">
                  <li><a href="/cines"><i>Cines</i></a></li>
                  <li><a href="/peliculas"><i>Cartelera</i></a></li>
                  <li class="dropdown">
              </ul>
              <!-- DERECHA -->
              <ul class="nav navbar-nav navbar-right">      
                  <li><a href="/accounts/register"><i>Inscríbete</i></a></li>
                  <li><a href="/accounts/login"><i>Ingresar</i></a></li>
              </ul>
            </div><!--/.nav-collapse -->
            {% endif %}
          </div>
      </nav>


    <br>
    <br>


    <div class= "container">
        <div class = "page-header">
          <h1> {{dcine.nombre}} </h1>
        </div>
        <div class = "row">
          <div class ="col-md-4">
            <div class ="panel panel-default">
              <div class = "panel-heading">                    
                  <h4 class = "panel-tittle"> <i> Detalles</i></h4>
              </div> 
              <table class = "table table-bordered table-striped">
                <tbody>
                  <tr>
                    <td><strong><i>Dirrección:</i></strong>&nbsp{{dcine.direccion}}</td>
                  </tr>
                  <tr>
                    <td><strong><i>Ciudad:</i></strong>&nbsp{{dcine.ciudad}}</a></td>
                  </tr>
                  {%ifequal dcine.ciudad "Santiago" %}
                  <tr>
                    <td><strong><i>Comuna:</i> </strong>&nbsp{{dcine.comuna}}</td>
                  </tr>
                  {%endifequal%}
                  <tr>
                    <td><strong><i>Página web:</i></strong> <a href="{{dcine.link}}">&nbsp{{dcine.nombre}}</a></td>
                  </tr>
                  <tr>
                  <td><strong><i>Contacto:</i></strong>&nbsp{{dcine.contacto}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class = "col-md-6">
            <div id="map-canvas"></div>
            <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
            <script>
                function initialize() {
                    var map = new google.maps.Map(document.getElementById('map-canvas'));
                    var bounds = new google.maps.LatLngBounds();
                    function addMarker(lat, lng, title) {
                        var position = new google.maps.LatLng(lat, lng);
                        var marker = new google.maps.Marker({
                            position: position,
                            map: map,
                            title: title
                        });
                        bounds.extend(position);
                    }
                    {% for cosa in dgeo %}
                      {% ifequal cosa.cine.id dcine.id %}
                        addMarker({{ cosa.position.latitude }}, {{ cosa.position.longitude }}, "{{ cosa.nombre }}");
                      {% endifequal%}
                    {% endfor %}
                    map.fitBounds(bounds);
                }
                google.maps.event.addDomListener(window, 'load', initialize);
            </script>            
          </div>
        </div>
      </div>
 


      <br>
      <br>

      <div class = "container">
        <h1><i>Cartelera</i></h1>
        <hr>
        
            <div class = "row">
              {%for elemento in pelis%}
                  {%for item in elemento.cines.all%}
                    {%ifequal item.nombre dcine.nombre %}
                    <div class="col-md-3">
                      <a href ="/pelicula/{{elemento.id}}"  class = "thumbnail">
                        <img src="{{elemento.imagen.url}}"/>  
                      </a>
                    </div>
                    {%endifequal%}
                {%endfor%}            
              {%endfor%}  
            </div>        
       </div>
   


      <br>
      <br>
      <br>
      <br>
      <br>
            <!-- PIE DE PAGINA  -->
      <hr>
      <div class ="container">
        <footer>

            <div class  ="navbar-text pull-left">
        

                  <p><strong><i>Cine Altiro ® 2015 </i><strong> </p>
                   <a href="/quienes-somos"><strong><i>Acerca de Nosotros</i></strong> </a>
            </div>


            <div class ="navbar-text pull-right">
                  <p><i>Síguenos en las redes sociales</i></p>
                  <a href="#"><i class="fa fa-facebook-square fa-4x"></i></a>
                  <a href="#"><i class="fa fa-twitter-square fa-4x"></i></a>
                  <a href="#"><i class="fa fa-google-plus-square fa-4x"></i></a>
                  <a href="#"><i class="fa fa-instagram fa-4x"></i></a>
            </div>    
        </footer>
      </div>


      
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/jsie10-viewport-bug-workaround.js"></script>

  </body>
</html>
