
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cine Altiro</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">

     <!-- FontAwesome -->

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <script src="/static/js/ie8-responsive-file-warning.js"></script>
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>


  </head>

  <body>

    <!-- NAVBAR -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Menu</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home/">Cine Altiro</a>     
      
          </div>
          {% if user.is_authenticated %}
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
               <li class = "active">  <a href="#">Bienvenido {{user.username|capfirst}} </a></li> 
                <li>  <a href="/accounts/logout">Salir</a></li>
                
              </ul>
            </div><!--/.nav-collapse -->

          
          {% else %}
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">      
              <li><a href="/accounts/register">Inscríbete</a></li>
              <li><a href="/accounts/login">Ingresar</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </div><!--/.nav-collapse -->
          {% endif %}
        </div>
    </div>



    <div class= "container">
        <div class = "page-header">
          <h1> {{cine.nombre}} </h1>
        </div>
        <div class = "row">
          <div class ="col-md-6">
            <div class ="panel panel-default">
              <div class = "panel-heading">                    
                  <h4 class = "panel-tittle"> Detalles</h4>
              </div> 
              <table class = "table table-bordered table-striped">
                <tbody>
                  <tr>
                    <td><strong>Dirrección:</strong> {{cine.direccion}} </td>
                  </tr>
                  <tr>
                    <td><strong>Página web:</strong> <a href="{{cine.link}}"> {{cine.nombre}}</a> </td>
                  </tr>
                  <tr>
                    <td><strong>Precio:</strong> </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
 

<!--             <li><p>{{cine.direccion}}</p></li>
            <li><p>{{cine.link}}</p></li>
            <li><p>{{cine.precio}}</p></li> -->
            <br>
            <br>
            <div class = "container">
              <div class = "jumbotron "style ="background-color:rgb(231, 223, 223);">
                  <div class = "row">
                    {%for elemento in pelis%}
                        {%for item in elemento.cines.all%}
                          {%ifequal item.nombre cine.nombre %}
                          <div class="col-md-3">
                            <a href ="/pelicula/{{elemento.id}}"  class = "thumbnail">
                              <img src="{{elemento.imagen.url}}"/>  
                            </a>
                          </div>
                          {%endifequal%}
                      {%endfor%}            
                    {%endfor%}  
                  </div>        
              </div>
            </div>

    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/jsie10-viewport-bug-workaround.js"></script>
  </body>
</html>
