<!DOCTYPE html>
<html lang='es'>
  <head>
	<title>Lista de Cines</title>
	<meta charset='utf-8'>
  </head>
  <body>

  		<nav>

  			<ul>

  				
  				<li><a href="/prueba1">home</a></li>
  				
  			</ul>		

  		</nav>	

    <h1>Cines del pais</h1>
	{% for elemento in dicCines %}
	<ul>
	  <li><strong>{{elemento.nombre}}</strong></li>
	  <li>{{elemento.direccion}}</li>
	  <li>{{elemento.precio}}</li>
	  <!-- <li><img src="{{elemento.imagen.url}}"/></li> -->
	 
	</ul>
	{% endfor %}
  </body>
</html>