<!DOCTYPE html>
<html lang='es'>
  <head>
	<title>Testeando</title>
	<meta charset='utf-8'>
  </head>
  <body>

  		<nav>

  			<ul>

  				
  				<li><a href="/prueba1">home</a></li>
  				
  			</ul>		

  		</nav>	

    <h1>testeando</h1>
	{% for elemento in dcinespel %}
	<ul>
	  <li><strong>{{elemento.id_cine}}</strong></li>
	  <li>{{elemento.id_pelicula}}</li>
	  <li>{{elemento.funciones}}</li>
	  <!-- <li><img src="{{elemento.imagen.url}}"/></li> -->
	 
	</ul>
	{% endfor %}
  </body>
</html>