<!DOCTYPE html>
<html lang="en">

  <head>   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cine Altiro</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">

     <!-- FontAwesome -->

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
 >
    
    <script src="/static/js/ie8-responsive-file-warning.js"></script>
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  </head>

  <body>
    
    <!-- NAVBAR -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Menu</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home/">Cine Altiro</a>     
      
          </div>
          {% if user.is_authenticated %}
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                <li class = "active">  <a href="#">Bienvenido {{user.username|capfirst}} </a></li>        
                <li>  <a href="/accounts/logout">Salir</a></li>
                
              </ul>
            </div><!--/.nav-collapse -->

          
          {% else %}
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">      
              <li><a href="/accounts/register">Inscríbete</a></li>
              <li><a href="/accounts/login">Ingresar</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </div><!--/.nav-collapse -->
          {% endif %}
        </div>
    </div>
    


    <!-- ENCABEZADO -->
      <div class="container">
      <div class="jumbotron ">
          
                <h1 style="color: rgb(222, 240, 227);">
                Cine Altiro</h1>
                <p style = "color: white;"> Cine altiro es una plataforma virtual gratuita de información y opiniones de las distintas peliculas que se encuentran en cartelera en los cines chilenos.</p>

                <a class="btn btn-default btn-lg" href="/cines" role="button"><i class="fa fa-film"></i> Cines </a>
                <a class="btn btn-default btn-lg" href="/peliculas" role="button">
                  <i class="fa fa-play"></i> Peliculas</a>
                
          </div>  <!-- END CONTAINER -->
      </div> <!-- END JUMBOTROM-->




     <!--  PELICULAS -->
      <div class="container ">
      <div class="jumbotron " style= "background-color: rgba(191, 170, 171, 0.05);">        
      
                <div class="row">
                  {% for Pelicula in pelis reversed %}
                  {% if forloop.counter0 < 12 %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                      <a href ="/pelicula/{{Pelicula.id}}" class = "thumbnail">
                          <img src="{{Pelicula.imagen.url}}"/> 
                      </a>
                    </div>
                  {% endif %}
                  {% endfor %}  
                </div>
                <hr>
      </div> 
    </div>
  


      <!-- PIE DE PAGINA  -->

      <div class ="container">
        <footer>
            <div class  ="navbar-text pull-left">
                  <p> © 2015 CineAltiro. Terminos & Condiciones.</p>
            </div>
            <div class ="navbar-text pull-right">
                  <a href="#"><i class="fa fa-facebook fa-3x"></i></a>
                  <a href="#"><i class="fa fa-twitter fa-3x"></i></a>
                  <a href="#"><i class="fa fa-google-plus fa-3x"></i></a>
            </div>    
        </footer>
      </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
   <!--  IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/jsie10-viewport-bug-workaround.js"></script>
  </body>
</html>