<!DOCTYPE html>
<html lang="en">

  <head>   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cine Altiro-Home</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">

     <!-- FontAwesome -->

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    
    <script src="/static/js/ie8-responsive-file-warning.js"></script>
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  </head>

  <body>
 
 
      <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/home/"><img src="/media/imagenes/logos/logocinealtiro.jpg"></a>     
        
            </div>
            {% if user.is_authenticated %}
              <div id = "navbar1" class="navbar-collapse collapse">
                  <!-- IZQUERDA -->
                  <ul class="nav navbar-nav">
                      <li><a href="/cines"><i>Cines</i></a></li>
                      <li><a href="/peliculas"><i>Cartelera</i></a></li>
                      <li class="dropdown">
                  </ul>
                  <!-- DERECHA -->
                  <ul class="nav navbar-nav navbar-right">
                  <li>  <a href="/perfil"><strong><i>Bienvenido {{user.username|capfirst}}</strong> </i></a></li>        
                  <li>  <a href="/accounts/logout"><i>Salir</i></a></li>
                  
                </ul>
              </div><!--/.nav-collapse -->

            
            {% else %}
            <div id = "navbar1" class="navbar-collapse collapse">
              <!-- IZQUERDA -->
              <ul class="nav navbar-nav">
                  <li><a href="/cines"><i>Cines</i></a></li>
                  <li><a href="/peliculas"><i>Cartelera</i></a></li>
                  <li class="dropdown">
              </ul>
              <!-- DERECHA -->
              <ul class="nav navbar-nav navbar-right">      
                  <li><a href="/accounts/register"><i>Inscríbete</i></a></li>
                  <li><a href="/accounts/login"><i>Ingresar</i></a></li>
              </ul>
            </div><!--/.nav-collapse -->
            {% endif %}
          </div>
      </nav>

 
    <!-- ENCABEZADO -->


      <div class="container">
          <div class = "col-md-8">

          <div class="jumbotron " style = "background-color: rgba(27, 109, 98, 0.368627);">           
                <!-- <h1 style="color: rgb(222, 240, 227);"> -->
                <h2>
               <i><strong>Cine Altiro</strong> </i></h2>
                <!-- <img src="/media/imagenes/logo8.jpg"> -->
                <p> <i>Cine altiro es una plataforma virtual gratuita de información y opiniones de las distintas peliculas que se encuentran en cartelera en los cines del país</i></p>

                <a class="btn btn-default btn-lg" href="/cines" role="button"><i class="fa fa-film"></i> Cines </a>
                <a class="btn btn-default btn-lg" href="/peliculas" role="button"><i class="fa fa-play"></i> Cartelera</a>
          </div>  <!-- END JUMBOTROM -->
        </div>
        <div class = "col-md-4">
          <div class = "jumbotron">

              <h4 style="color:white"><strong><i>&nbsp &nbsp Busca tu película aqui</i></strong></h4>
              <form method="POST">{% csrf_token %}
                <div class="form-group">
                   {{ form.typeahead }}
                   {{ form.typeahead.errors }}
                </div>
                   <button type="submit" class="btn btn-default"> <i class="fa fa-search"></i> Buscar </button>
              </form>
                <br>
               {% for message in messages %}        
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      {{ message }}
                      <a href ="/pelicula/{{dpelis.id}}" > Ir </a>
                </div>
              {% endfor %}
          </div>
        </div>
      </div> <!-- END CONTAINER-->



     <!--  PELICULAS -->
      <div class="container ">



        <div class="jumbotron " style= "background-color: rgba(191, 170, 171, 0.05);">        
                  <h2> <i>Recientemente</i></h2>
                  <br>
                  <div class="row">
                    {% for Pelicula in pelis reversed %}
                    {% if forloop.counter0 < 12 %}
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <a href ="/pelicula/{{Pelicula.id}}" class = "thumbnail">
                            <img src="{{Pelicula.imagen.url}}"/> 
                        </a>
                      </div>

                    {% endif %}
                    {% endfor %}


                  </div>
                  
        </div> 
      </div>
  
    
      <br>

      
   
    
    

  

      <!-- PIE DE PAGINA  -->
      <hr>
      <div class ="container">
        <footer>

            <div class  ="navbar-text pull-left">
        

                  <p><strong><i>Cine Altiro ® 2015 </i><strong> </p>
                   <a href="/quienes-somos"><strong><i>Acerca de Nosotros</i></strong> </a>
            </div>


            <div class ="navbar-text pull-right">
                  <p><i>Síguenos en las redes sociales</i></p>
                  <a href="#"><i class="fa fa-facebook-square fa-4x"></i></a>
                  <a href="#"><i class="fa fa-twitter-square fa-4x"></i></a>
                  <a href="#"><i class="fa fa-google-plus-square fa-4x"></i></a>
                  <a href="#"><i class="fa fa-instagram fa-4x"></i></a>
            </div>    
        </footer>
      </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
     {{ form.media }}
   <!--  IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/jsie10-viewport-bug-workaround.js"></script>
  </body>
</html>