<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cine Altiro</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">

     <!-- FontAwesome -->

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="/static/js/ie8-responsive-file-warning.js"></script>
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
   


  </head>

  <body>

      <!-- NAVBAR -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Menu</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="/home/"><img src="/media/imagenes/logos/logocinealtiro.jpg"></a>       
      
          </div>
          {% if user.is_authenticated %}
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                <li class = "active">  <a href="#">Bienvenido {{user.username|capfirst}} </a></li>     
                <li>  <a href="/accounts/logout">Salir</a></li>
                
              </ul>
            </div><!--/.nav-collapse -->

          
          {% else %}
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">      
              <li><a href="/accounts/register">Inscríbete</a></li>
              <li><a href="/accounts/login">Ingresar</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </div><!--/.nav-collapse -->
          {% endif %}
        </div>
    </div>

    

      <div class = "container">
          <div class = "page-header">
            <h1> {{dpelis.titulo}} </h1>
          </div>
         
        <div class= "row">
            <div class = "col-md-3">
                <div class = "thumbnail">
                  <img src ="{{dpelis.imagen.url}}">
                </div>
                
            </div> 

          <div class = "col-md-1">
          </div>
          <div class = "col-md-8" >
           
            <iframe width="600" height="346" src= "{{dpelis.trailer}}" frameborder="0" allowfullscreen></iframe>
          </div>
           
        </div> <!--ENDROW --> 


        <div class = "row">
          <div class = "col-md-3">

            <div class ="panel panel-default">
                            <div class = "panel-heading">                    
                                <h4 class = "panel-tittle"> Detalles</h4>
                            </div> 

                 
                          <table class = "table table-bordered table-striped">

                              <tbody>
                                <tr>
                                  <td>Categoria</td>
                                </tr>
                                <tr>
                                  <td>Año</td>
                                </tr>
                                <tr>
                                  <td>País</td>
                                </tr>
                                <tr>
                                  <td>Reparto</td>
                                </tr>
            
                              </tbody>
                          </table>
              </div>
          </div>

          <div class = "col-md-1">
          </div>
          <div class = "col-md-8">


                  <div class ="panel panel-default">
                          <div class = "panel-heading">                    
                              <h4 class = "panel-tittle"> Sinópsis</h4>
                          </div>  
                          <div class = "panel-body">
                              <p> {{dpelis.sinopsis}} </p>
                          </div>
                  </div>
          </div>

        
        </div> <!-- END ROW -->

    </div> <!-- END CONTAINER -->

  


   <div class = "container">
    <h3>¿Donde verla ?</h3>           
    <hr>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        
        
        <div class="panel panel-success">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href="#collpaseone" data-toggle="collapse" data-parent="accordion">
                  <strong>Cine Planet</strong></a>
                </h4>
              </div>

              <div id="collpaseone" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class = "row">
                        <div class = "col-md-3">
                           <p><strong><i>Cines</i></strong></p>
                        </div>

                        <div class ="col-md-2">
                           <p><strong><i>Función</i></strong></p>
                        </div>

                        <div class ="col-md-2">
                            <p><strong><i>Día</i></strong></p>
                        </div>

                        
                        <div class ="col-md-5">
                             <p><strong><i>Hora</i></strong></p>
                        </div>
                 
                    </div>


                  {%for item in dshowtimes%}
                    <div class = "row">
                    {%ifequal item.peliculas.titulo dpelis.titulo%}
                      {%ifequal item.cines.empresa "planet" %} 
                        <div class = "col-md-3">
                           <p>{{item.cines}}</p>
                        </div>

                        <div class ="col-md-2">
                                <p>{{item.tipo}}</p>
                        </div>

                        <div class ="col-md-2">
                                <p>{{item.date}}</p>
                        </div>

                        <div class ="col-md-5">
                          <p>{%for elemento in item.horarios.all%} 
                              {{elemento.horario}}&nbsp;  
                          {%endfor%}</p>
                        </div>
                       
                        
                       {%endifequal%} 
                    {%endifequal%}
                  </div>
                  {%endfor%}

                </div>
              </div>
        </div>





        <div class="panel panel-success">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href="#collpasetwo" data-toggle="collapse" data-parent="accordion">
                  <strong>Cine Mark</strong></a>
                </h4>
              </div>

              <div id="collpasetwo" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class = "row">
                        <div class = "col-md-3">
                           <p><strong><i>Cines</i></strong></p>
                        </div>

                        <div class ="col-md-2">
                           <p><strong><i>Función</i></strong></p>
                        </div>

                        <div class ="col-md-2">
                            <p><strong><i>Día</i></strong></p>
                        </div>

                        
                        <div class ="col-md-5">
                             <p><strong><i>Hora</i></strong></p>
                        </div>
                 
                    </div>


                    {%for item in dshowtimes%}
                    <div class = "row">
                    {%ifequal item.peliculas.titulo dpelis.titulo%}
                      {%ifequal item.cines.empresa "mark" %}
                        <div class = "col-md-3">
                           <p>{{item.cines}}</p>
                        </div>

                        <div class ="col-md-2">
                                <p>{{item.tipo}}</p>
                        </div>

                        <div class ="col-md-2">
                                <p>{{item.date}}</p>
                        </div>

                        <div class ="col-md-5">
                          <p>{%for elemento in item.horarios.all%} 
                              {{elemento.horario}}&nbsp; 
                          {%endfor%}</p>
                        </div>
                       
                        
                      {%endifequal%}
                    {%endifequal%}
                  </div>
                  {%endfor%}

                </div>
              </div>
        </div>




        <div class="panel panel-success">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href="#collpasethree" data-toggle="collapse" data-parent="accordion">
                  <strong>Cine Hoyts</strong></a>
                </h4>
              </div>

              <div id="collpasethree" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class = "row">
                        <div class = "col-md-3">
                           <p><strong><i>Cines</i></strong></p>
                        </div>

                        <div class ="col-md-2">
                           <p><strong><i>Función</i></strong></p>
                        </div>

                        <div class ="col-md-2">
                            <p><strong><i>Día</i></strong></p>
                        </div>

                        
                        <div class ="col-md-5">
                             <p><strong><i>Hora</i></strong></p>
                        </div>
                 
                    </div>


                    {%for item in dshowtimes%}
                    <div class = "row">
                    {%ifequal item.peliculas.titulo dpelis.titulo%}
                      {%ifequal item.cines.empresa "hoyts" %}
                        <div class = "col-md-3">
                           <p>{{item.cines}}</p>
                        </div>

                        <div class ="col-md-2">
                                <p>{{item.tipo}}</p>
                        </div>

                        <div class ="col-md-2">
                                <p>{{item.date}}</p>
                        </div>

                        <div class ="col-md-5">
                          <p>{%for elemento in item.horarios.all%} 
                              {{elemento.horario}}&nbsp; 
                          {%endfor%}
                        </p>
                        </div>
                       
                        
                      {%endifequal%}
                    {%endifequal%}
                  </div>
                  {%endfor%}

                </div>
              </div>
        </div>


    </div> <!-- END PANEL GRUOP -->
    </div> <!-- END CONTAINER -->
      
    <footer>
      <div class="container">
        <hr>
          <p> <small><a href="http://facebook.com/askorama">Like me</a> On facebook</small></p>
          <p> <small><a href="http://twitter.com/wiredwiki">Ask whatever </a> On Twitter</small></p>
          <p> <small><a href="http://youtube.com/wiredwiki">Subscribe me</a> On Youtube</small></p>
        
   
      </div> 
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/jsie10-viewport-bug-workaround.js"></script>


  </body>
</html>