<!DOCTYPE html>
<html lang="en">

  <head>   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cine Altiro</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">

     <!-- FontAwesome -->

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    
    <script src="/static/js/ie8-responsive-file-warning.js"></script>
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  </head>

  <body>
 
 
      <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/home/"><img src="/media/imagenes/logos/logocinealtiro.jpg"></a>     
        
            </div>
            {% if user.is_authenticated %}
              <div id = "navbar1" class="navbar-collapse collapse">
                  <!-- IZQUERDA -->
                  <ul class="nav navbar-nav">
                      <li><a href="/cines"><i>Cines</i></a></li>
                      <li><a href="/peliculas"><i>Cartelera</i></a></li>
                      <li class="dropdown">
                  </ul>
                  <!-- DERECHA -->
                  <ul class="nav navbar-nav navbar-right">
                  <li>  <a href="#"><strong><i>Bienvenido {{user.username|capfirst}}</strong> </i></a></li>        
                  <li>  <a href="/accounts/logout"><i>Salir</i></a></li>
                  
                </ul>
              </div><!--/.nav-collapse -->

            
            {% else %}
            <div id = "navbar1" class="navbar-collapse collapse">
              <!-- IZQUERDA -->
              <ul class="nav navbar-nav">
                  <li><a href="/cines"><i>Cines</i></a></li>
                  <li><a href="/peliculas"><i>Cartelera</i></a></li>
                  <li class="dropdown">
              </ul>
              <!-- DERECHA -->
              <ul class="nav navbar-nav navbar-right">      
                  <li><a href="/accounts/register"><i>Inscríbete</i></a></li>
                  <li><a href="/accounts/login"><i>Ingresar</i></a></li>
              </ul>
            </div><!--/.nav-collapse -->
            {% endif %}
          </div>
      </nav>


      {{user.id}}
      

      {%for elemento in dperfil%}

        {%ifequal elemento.id_usuario.id user.id %}

          {{elemento.nombre}}



        {%endifequal%}
      {%endfor%}

     

  <div class = "container">
    <div class = "row">
      <div class = "col-md-4">
        <form role="form">
          <div class="form-group">
            <label for="ejemplo_email_1">Nombre</label>
            <input type="name" class="form-control" id="ejemplo_email_1"
                   placeholder="Introduce tu nombre">
          </div>
          <div class="form-group">
            <label for="ejemplo_password_1">Apellido</label>
            <input type="name" class="form-control" id="ejemplo_password_1" 
                   placeholder="Intrduce tu apellido">
          </div>
          <button type="submit" class="btn btn-default">Guardar</button>
          </form>
    </div>
  </div>
</div>

     
      <!-- PIE DE PAGINA  -->

      <div class ="container">
        <footer>

            <div class  ="navbar-text pull-left">
        

                  <p><strong><i>Cine Altiro ® 2015 </i><strong> </p>
                   <a href="/quienes-somos"><strong><i>Acerca de Nosotros</i></strong> </a>
            </div>


            <div class ="navbar-text pull-right">
                  <p><i>Síguenos en las redes sociales</i></p>
                  <a href="#"><i class="fa fa-facebook-square fa-4x"></i></a>
                  <a href="#"><i class="fa fa-twitter-square fa-4x"></i></a>
                  <a href="#"><i class="fa fa-google-plus-square fa-4x"></i></a>
                  <a href="#"><i class="fa fa-instagram fa-4x"></i></a>
            </div>    
        </footer>
      </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
   <!--  IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/jsie10-viewport-bug-workaround.js"></script>
  </body>
</html>