!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>Cine altiro</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- Latest compiled and minified CSS -->
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	

</head>

<body>

	<header>
		<div class="jumbotron">
			<div class="container">
				<h1>Cine Altiro</h1>
				<h3></h3>
			</div> 
		</div> 
	</header>
		
	<div class="container">
		<div class="row">
			{% for Pelicula in main reversed %}
			{% if forloop.counter0 < 20 %}
			<div class="col-md-4">
				{% with value=Pelicula.id|stringformat:"s" yolo="/CineAltiro/peliculas/" %}

				<a href={{yolo|add:value|add:"/"}} class="thumbnail">
					{% endwith %}
					<img src="desktop.png" alt="NO IMAGE">
					<div class="caption">
						<h3>{{Pelicula.titulo}}</h3>
						<p>
							{{Pelicula.categoria}}
						</p>
					</div>
				</a>
			</div> 
			{% endif %}
			{% endfor %}   
			

		</div>

	</div>

		


	<footer>
		<div class="container">
			<hr>
		</div> <!-- end container -->
	</footer>
		
	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>	
</html>