.jumbotron {




background-color: #414141;

	
}


a{



color:#000000;






}

body{


	padding-bottom: 0px;




}

.navbar-text > a{
	
	color: inherit;
	text-decoration: none;



}


.thumbnail img:hover{


transform: scale(1.08,1.08);



}