
body{


	padding-bottom: 0px; 


}



.navbar-static-top {
  margin-bottom: 0px;
}

.navbar-text > a{
	
	color: inherit;
	text-decoration: none;

}



.thumbnail img:hover{

transform: scale(1.09,1.09);
}

.jumbotron {
	margin-bottom: 0px;
	background-color:  #f8f8f8;
}

.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-inverse {
  background-color: #000000;
  border-color: #000000;
}

.navbar-collapse.collapse {
 
  padding-bottom: 18px;
  
}

.navbar-nav > li > a {
  font-size: 15px;
    line-height: 37px;
}