
body{


	padding-bottom: 0px; 


}



.navbar-static-top {
  margin-bottom: 19px;
}

.navbar-text > a{
	
	color: inherit;
	text-decoration: none;

}

.jumbotron {


background-color: #414141;

	
}


.thumbnail img:hover{

transform: scale(1.09,1.09);
}

